<div class="grid">
    <div class="col-12 lg:col-6 xl:col-12">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <h5 class="m-0">Ingredients Vs Products</h5>
                </div>
            </ng-template>

            <ng-template pTemplate="right">
                <span class="block mt-2 md:mt-0 p-input-icon-right">
                    <span style="margin-right: 5px;">
                        <p-calendar (ngModelChange)="onFromDate($event)" [showIcon]="true" inputId="icon" [(ngModel)]="selectedFrom" placeholder="Start Date" [style]="{ 'width': '200px'  }"></p-calendar>
                    </span>
                    <span style="margin-right: 5px;">
                        <p-calendar (ngModelChange)="onToDate($event)" [(ngModel)]="selectedTo" [showIcon]="true" inputId="icon" placeholder="End Date" [style]="{ 'width': '200px'  }"></p-calendar>
                    </span>
                    <!-- <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="onGlobalFilter(dt, $event)"
                        placeholder="Search ..."
                        class="w-full sm:w-auto"
                    /> -->
                </span>
            </ng-template>
        </p-toolbar>
    </div>
    

    <div class="col-12 xl:col-6">
        <div class="card">

            <p-table #dt [value]="materials" [columns]="cols" responsiveLayout="scroll" [rows]="10" styleClass="p-datatable-sm"
                [globalFilterFields]="['name','code','active']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedMaterials" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Ingredients</h5>
                        
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="code">Date <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Ingredient <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="active">QNTY <p-sortIcon field="active"></p-sortIcon></th>
                        <th pSortableColumn="active">Expenditure <p-sortIcon field="active"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ingredient let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1 }}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Date</span>
                            {{ingredient.purchaseDate | date:'yyyy/MM/dd'}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Ingredient</span>
                            {{ingredient.material.name}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">QNTY</span>
                            {{ingredient.quantity}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Expenditure</span>
                            KSh. {{ingredient.totalPrice}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr class="p-rowgroup-footer">
                        <td
                            colspan="4"
                            style="text-align: right"
                        >
                            Total Expenditure:
                        </td>
                        <td>
                            <span style="color: rgb(46, 208, 46);">
                                KSh.
                            {{
                                totalExpenditure
                            }}
                            </span>
                        </td>
                    </tr>
                    
                    
                </ng-template>
            </p-table>
        </div>
        
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" styleClass="p-datatable-sm"
                [globalFilterFields]="['name','code','active']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Products</h5>
                        
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="code">Date <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Product <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="active">QNTY <p-sortIcon field="active"></p-sortIcon></th>
                        <th pSortableColumn="active">Expected Cost <p-sortIcon field="active"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1 }}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Date</span>
                            {{product.saleDate | date:'yyyy/MM/dd'}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Product</span>
                            {{product.name}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">QNTY</span>
                            {{product.soldQuantity}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Income</span>
                            KSh. {{product.salesPrice}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr class="p-rowgroup-footer">
                        <td
                            colspan="4"
                            style="text-align: right"
                        >
                            Total Expected Sales:
                        </td>
                        
                        <td>
                            <span style="color: rgb(46, 208, 46);">
                                KSh.
                            {{
                                totalExpectedSales
                            }}
                            </span>
                        </td>
                    </tr>
                    <tr class="p-rowgroup-footer">
                        <td
                            style="text-align: right"
                        >
                            Balance:
                        </td>
                        <td>
                            <span style="color: red;">
                                KSh.
                            {{
                                totalExpectedSales-totalAmount
                            }}
                            </span>
                        </td>
                        <td>
                            :
                        </td>
                        <td
                            style="text-align: right"
                        >
                            Total Amount Paid:
                        </td>
                        <td>
                            <span style="color: rgb(46, 208, 46);">
                                KSh.
                            {{
                                totalAmount
                            }}
                            </span>
                        </td>
                    </tr>
                    
                    
                </ng-template>
            </p-table>
        </div>
</div>
</div>

