<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New Material Dispatch" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export to Excel" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="materialDispatches" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['material.name','quantity','supplier.name','purchaseDate','description','material.totalPrice']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedMaterialDispatch" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Material Dispatch</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search Material..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="material.name">Material <p-sortIcon field="material.name"></p-sortIcon></th>
                        <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th pSortableColumn="material.totalPrice">TotalPrice <p-sortIcon field="material.totalPrice"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="shift">Shift <p-sortIcon field="shift"></p-sortIcon></th>
                        <th pSortableColumn="purchaseDate">Dispatch Date <p-sortIcon field="material.remainingQuantity"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-materialDispatch let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1 }}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Material</span>
                            {{materialDispatch.material.name}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Quantity</span>
                            {{materialDispatch.quantity}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Total Price</span>
                           KSh. {{materialDispatch.totalPrice}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Description</span>
                            {{materialDispatch.description}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Shift</span>
                           {{materialDispatch.shift}}
                        </td>
                        
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Dispatch Date</span>
                            {{materialDispatch.dispatchDate}}
                        </td>
                        
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editMaterialDispatch(materialDispatch)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="materialDispatchDialog" [style]="{width: '450px'}" header="Dispatch Material" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="material">Material</label>
                        <p-dropdown [options]="materials" [(ngModel)]="materialDispatch.material" (ngModelChange)="calculatePrice()" inputId="material"
                            optionLabel="name" placeholder="Select">
                        </p-dropdown>
                    </div>
                    <div class="field col">
                        <label for="shift">Shift</label>
                        <p-dropdown [options]="shifts" [(ngModel)]="materialDispatch.shift" inputId="supplier"
                        optionValue="label" placeholder="Select">
                        </p-dropdown>
                    </div> 
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="materialDispatch.description" required rows="3" cols="20"></textarea>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="quantity">Quantity</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">{{metric}}</span>
                            <input type="text" pInputText id="quantity" [(ngModel)]="materialDispatch.quantity" (ngModelChange)="calculatePrice()" required autofocus
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !materialDispatch.quantity}">
                        </div>
                    </div>
                    <div class="field col">
                        <label for="totalPrice">Total Price</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">KSh</span>
                            <input disabled type="text" pInputText id="totalPrice" [(ngModel)]="totalPrice">
                        </div>
                    </div>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveMaterialDispatch()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>