<button class="layout-config-button p-link" type="button" (click)="onConfigButtonClick()">
    <i class="pi pi-cog"></i>
</button>

<p-sidebar [(visible)]="isSidebarOpen" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
    styleClass="layout-config-sidebar w-25rem">
    <!-- Sidebar header -->
    <p-toast></p-toast>
    <div style=" border-bottom: 2px solid blue;">
        <h2 style="color: blue;">Settings</h2>
        <hr>
    </div>
    <!-- Content within the sidebar -->
    <div style=" border-bottom: 1px solid black;">
        <!-- Button for changing password triggers the changePassword()-->
        <button class="p-link layout-topbar-button" type="submit" (click)="changePassword()"
            style="background: none;color: black;font-size: 14px; font-weight: normal; height: 60px;width: 100%;">
            <span>CHANGE PASSWORD</span>
            <i class="pi pi-cog" style="margin-left: 10px;"></i>

        </button>
    </div>
    <!-- Button for logging out triggers logout()-->
    <div style=" border-bottom: 1px solid black;">
        <button class="p-link layout-topbar-button" (click)="logout()" type="submit"
            style="background: none;color: black;font-size: 14px; font-weight: normal; height: 60px;width: 100%;">
            <span>LOG OUT</span>
            <i class="pi pi-sign-out" style="margin-left: 10px;"></i>

        </button>
    </div>
    <!-- A dialog box for changing passwords -->
    <p-dialog header="Change Password" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}"
        [breakpoints]="{'960px': '75vw'}" class=" p-fluid">


        <ng-template pTemplate="content">
            <div class="field">
                <label for="currentPassword">Current Password</label>
                <p-password id="currentPassword" [(ngModel)]="currentPassword" [toggleMask]="true" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !currentPassword}">
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !currentPassword">Current Password is
                        required.</small>
                </p-password>
            </div>

            <div class="field">
                <label for="newPassword">New Password</label>
                <p-password id="newPassword" [(ngModel)]="newPassword" [toggleMask]="true" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !newPassword}">
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !newPassword">New Password is
                        required.</small>
                </p-password>
            </div>

            <div class="field">
                <label for="confirmNewPassword">Confirm New Password</label>
                <p-password id="confirmNewPassword" [(ngModel)]="confirmNewPassword" [toggleMask]="true" required
                    autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !confirmNewPassword}">
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !confirmNewPassword">Confirm New Password is
                        required.</small>
                </p-password>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="flex align-items-center justify-content-between mb-2 gap-5">
                <div *ngIf="showSpinner" class="spinner-overlay">
                    <div class="spinner"></div>
                    <div class="spinner-text">Processing...</div>
                </div>
            </div>

            <button pButton icon="pi pi-times" (click)="display=false" label="Cancel" class="p-button-outlined"
                style="color: red;"></button>
            <button pButton icon="pi pi-eraser" (click)="onReset()" label="Reset" class="p-button-outlined"></button>
            <button pButton icon="pi pi-check" (click)="onChangePassword()" [disabled]="disableButton" label="Ok"
                class="p-button-outlined"></button>
        </ng-template>
    </p-dialog>
</p-sidebar>