<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New product Dispatch" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export to Excel" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="productDispatches" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['product.name','quantity','supplier.name','purchaseDate','description','product.totalPrice']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedproductDispatch" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">product Dispatch</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search product..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="product.name">product <p-sortIcon field="product.name"></p-sortIcon></th>
                        <th>Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th pSortableColumn="product.totalPrice">TotalPrice <p-sortIcon field="product.totalPrice"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="shift">Shift <p-sortIcon field="shift"></p-sortIcon></th>
                        <th pSortableColumn="purchaseDate">Dispatch Date <p-sortIcon field="product.remainingQuantity"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-productDispatch let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1 }}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">product</span>
                            {{productDispatch.product.name}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Quantity</span>
                            {{productDispatch.quantity}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Total Price</span>
                           KSh. {{productDispatch.totalPrice}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Description</span>
                            {{productDispatch.description}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Shift</span>
                           {{productDispatch.shift}}
                        </td>
                        
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Dispatch Date</span>
                            {{productDispatch.dispatchDate}}
                        </td>
                        
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editproductDispatch(productDispatch)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDispatchDialog" header="Dispatch product" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                 [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedproductDispatch" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0">
                            <p-dropdown [options]="shifts" [(ngModel)]="productDispatch.shift" inputId="supplier"
                        optionValue="label" placeholder="Select Sales Agent">
                        </p-dropdown>
                        </span>
                        <span class="block mt-2 md:mt-0">
                            <input pInputText type="text"
                                placeholder="Vehicle" class="w-full sm:w-auto" />
                        </span>
                        <span class="block mt-2 md:mt-0">
                            <input pInputText type="text"
                                placeholder="Fuel Issued" class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>product</th>
                        <th>Stock</th>
                        <th>Quantity</th>
                        <th>Remaining Stock</th>
                        <th>Total Price</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1 }}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">product</span>
                            {{product.name}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Stock</span>
                            {{product.remainingQuantity}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.code">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.code}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Remaining Stock</span>
                            {{productDispatch.description}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Total Price</span>
                           KSh. {{productDispatch.totalPrice}}
                        </td>
                       
                    </tr>
                </ng-template>
            </p-table>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveproductDispatch()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>