<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New product" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export to Excel" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" 
                [globalFilterFields]="['name','metric','unitPrice']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProduct" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search product..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="metric">Metric <p-sortIcon field="metric"></p-sortIcon></th>
                        <!-- <th pSortableColumn="unitPrice">Unit Price <p-sortIcon field="unitPrice"></p-sortIcon></th> -->
                        <th pSortableColumn="reorderPoint">Reorder Point <p-sortIcon field="reorderPoint"></p-sortIcon></th>
                        <th pSortableColumn="reorderQuantity">Reorder Quantity <p-sortIcon field="reorderQuantity"></p-sortIcon></th>
                        <th pSortableColumn="remainingQuantity">Remaining Quantity <p-sortIcon field="remainingQuantity"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1 }}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.name}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Metric</span>
                            {{product.metric}}
                        </td>
                        <!-- <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Unit Price</span>
                            KSh. {{product.unitPrice}}
                        </td> -->
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Reorder Point</span>
                            {{product.reorderPoint}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Reorder Quantity</span>
                            {{product.reorderQuantity}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Remaining Quantity</span>
                            <div [ngClass]="{'outofstock': product.remainingQuantity < product.reorderPoint, 'instock': product.remainingQuantity> product.reorderPoint, 'lowstock': product.remainingQuantity == product.reorderPoint}">
                                {{product.remainingQuantity}}
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Creation" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Names</label>
                    <input pInputText id="name" [(ngModel)]="product.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}">
                </div>

                <div class="field">
                    <label for="name">Metric</label>
                    <input pInputText id="metric" [(ngModel)]="product.metric" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.metric}">
                </div>
<!-- 
                <div class="field">
                    <label for="unitPrice">Unit Price</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">KSh.</span>
                        <input type="text" pInputText id="unitPrice" [(ngModel)]="product.unitPrice" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.unitPrice}">
                    </div>
                </div> -->
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="reorderPoint">Reorder Point</label>
                        <input pInputText id="metric" [(ngModel)]="product.reorderPoint" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.reorderPoint}">
                    </div>
                    <div class="field col">
                        <label for="reorderQuantity">Reorder Quantity</label>
                        <input pInputText id="metric" [(ngModel)]="product.reorderQuantity" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.reorderQuantity}">
                    </div>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>