<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
    style="background-image: url('assets/demo/images/blocks/hero/background.jpg'); background-size: cover; background-position: center; position: relative;">
    <div class="flex flex-column align-items-center justify-content-center">
        <p-toast></p-toast>
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-6 px-5 sm:px-5" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Forgot Your Password?</div>
                    <span class="text-600 font-medium">Enter your email below we will send you a<span
                            style="color: blue;"> link to reset your password</span></span>
                </div>
                <div>
                    <label class="block text-900 text-m font-small mb-2">EMAIL</label>
                    <input id="email1" type="text" [(ngModel)]="email" placeholder="Email" pInputText
                        class="w-full md:w-30rem mb-5" style="padding:1rem" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty': submitted && !email}"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div *ngIf="showSpinner" class="spinner-overlay">
                            <div class="spinner"></div>
                            <div class="spinner-text">Processing...</div>
                        </div>

                        <div class="flex align-items-center">
                            <a [routerLink]="['']" style="font-weight: bold;">Sign In?</a>
                        </div>
                    </div>
                    <button pButton (click)="onForgotPassword()" [disabled]="disableButton" pRipple label="Submit"
                        class="w-full p-3 text-xl"></button>
                </div>
            </div>
        </div>
    </div>
</div>