<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New Supplier" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export to Excel" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="suppliers" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','phone','alternativeContact','physicalAddress']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedSupplier" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Suppliers</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search Supplier..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                        <th pSortableColumn="alternativecontact">Alternative Contact/Email<p-sortIcon field="alternativecontact"></p-sortIcon></th>
                        <th pSortableColumn="physicalAddress">Physical Address<p-sortIcon field="physicalAddress"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-supplier let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1 }}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{supplier.name}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Phone</span>
                            {{supplier.phone}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Alternative Contact/Email</span>
                            {{supplier.alternativeContact}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Physical Adress</span>
                            {{supplier.physicalAddress}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editSupplier(supplier)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="supplierDialog" [style]="{width: '450px'}" header="New Supplier" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Names</label>
                    <input pInputText id="name" [(ngModel)]="supplier.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !supplier.name}">
                </div>

                <div class="field">
                    <label for="phone">Telephone</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">+254</span>
                        <input type="text" pInputText id="phone" [(ngModel)]="supplier.phone" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !supplier.phone}">
                    </div>
                </div>

                <div class="field">
                    <label for="alternativeContact">Alternative Contact/ Email</label>
                    <input pInputText id="name" [(ngModel)]="supplier.alternativeContact" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !supplier.alternativeContact}">
                </div>

                <div class="field">
                    <label for="physicalAddress">Physical Address</label>
                    <input pInputText id="name" [(ngModel)]="supplier.physicalAddress" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !supplier.physicalAddress}">
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveSupplier()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>