<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="New Dispatch Return"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="Export to Excel"
                        icon="pi pi-upload"
                        class="p-button-help"
                        (click)="dt.exportCSV()"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="dispatchedReturnProducts"
                [autoLayout]="true"
                styleClass="p-datatable-sm"
                [rows]="10"
                [globalFilterFields]="[
                    'productDispatchCode',
                    'vehicle',
                    'fuelIssued',
                    'supplier.name',
                    'paymentMode'
                ]"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                [rowHover]="true"
                dataKey="code"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Dispatch Return</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-right">
                            <span style="margin-right: 5px">
                                <p-calendar
                                    (ngModelChange)="onFromDate($event)"
                                    [showIcon]="true"
                                    inputId="icon"
                                    [(ngModel)]="selectedFrom"
                                    placeholder="Start Date"
                                    [style]="{ width: '200px' }"
                                ></p-calendar>
                            </span>
                            <span style="margin-right: 5px">
                                <p-calendar
                                    (ngModelChange)="onToDate($event)"
                                    [(ngModel)]="selectedTo"
                                    [showIcon]="true"
                                    inputId="icon"
                                    placeholder="End Date"
                                    [style]="{ width: '200px' }"
                                ></p-calendar>
                            </span>
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search ..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th
                            style="width: 8%"
                            pSortableColumn="productDispatchCode"
                        >
                            Code<p-sortIcon
                                field="productDispatchCode"
                            ></p-sortIcon>
                        </th>
                        <th style="width: 8%" pSortableColumn="vehicle">
                            Vehicle<p-sortIcon field="vehicle"></p-sortIcon>
                        </th>
                        <th style="width: 7%" pSortableColumn="fuelIssued">
                            Fuel<p-sortIcon field="fuelIssued"></p-sortIcon>
                        </th>
                        <th style="width: 7%" pSortableColumn="fuelIssued">
                            Mode<p-sortIcon field="paymentMode"></p-sortIcon>
                        </th>
                        <th style="width: 10%" pSortableColumn="supplier.name">
                            Supplier<p-sortIcon
                                field="supplier.name"
                            ></p-sortIcon>
                        </th>
                        <th style="width: 60%">Dispatched Products</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-productDispatch
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>{{ productDispatch.productDispatchCode }}</td>
                        <td>{{ productDispatch.vehicle }}</td>
                        <td>{{ productDispatch.fuelIssued }}</td>
                        <td>{{ productDispatch.paymentMode }}</td>
                        <td style="font-weight: bold">
                            {{ productDispatch.supplier.name }}
                        </td>
                        <td>
                            <p-table
                                [value]="productDispatch.dispatchedProducts"
                                styleClass="p-datatable-sm"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 20%">Name</th>
                                        <th style="width: 15%">Metric</th>
                                        <th style="width: 15%">Dispatched</th>
                                        <th style="width: 15%">Returned</th>
                                        <th style="width: 18%">
                                            Returned Spoiled
                                        </th>
                                        <th style="width: 17%">Sales Price</th>
                                    </tr>
                                </ng-template>
                                <ng-template
                                    pTemplate="body"
                                    let-dispatchedProduct
                                >
                                    <tr>
                                        <td>
                                            {{ dispatchedProduct.name }}
                                        </td>
                                        <td>
                                            {{ dispatchedProduct.metric }}
                                        </td>
                                        <td>
                                            {{ dispatchedProduct.quantity }}
                                        </td>
                                        <td>
                                            {{
                                                dispatchedProduct.returnedQuantity
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                dispatchedProduct.returnedSpoiled
                                            }}
                                        </td>
                                        <td>
                                            KSh.
                                            {{ dispatchedProduct.salesPrice }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr class="p-rowgroup-footer">
                                        <td
                                            colspan="5"
                                            style="text-align: right"
                                        >
                                            Total Sales Price:
                                        </td>
                                        <td>
                                            KSh.
                                            {{
                                                productDispatch.totalSalesPrice
                                            }}
                                        </td>
                                    </tr>
                                    <tr class="p-rowgroup-footer">
                                        <td style="text-align: right">
                                            Dispatch cost:
                                        </td>
                                        <td style="color: rgb(51, 0, 255)">
                                            KSh.
                                            {{
                                                productDispatch.totalDispatchPrice
                                            }}
                                        </td>

                                        <td style="text-align: right">
                                            Amount Paid:
                                        </td>
                                        <td style="color: rgb(99, 221, 99)">
                                            KSh.
                                            {{ productDispatch.amountPaid }}
                                        </td>

                                        <td style="text-align: right">
                                            Balance:
                                        </td>
                                        <td style="color: red">
                                            KSh. {{ productDispatch.balance }}
                                        </td>
                                    </tr>
                                    <tr class="p-rowgroup-footer">
                                        <td style="text-align: right">
                                            Crates Out:
                                        </td>
                                        <td style="color: rgb(51, 0, 255)">
                                            {{ productDispatch.cratesOut }}
                                        </td>

                                        <td style="text-align: right">
                                            Crates In:
                                        </td>
                                        <td style="color: rgb(99, 221, 99)">
                                            {{ productDispatch.cratesIn }}
                                        </td>

                                        <td style="text-align: right">
                                            Unreturned Crates:
                                        </td>
                                        <td style="color: red">
                                            {{
                                                productDispatch.cratesOut -
                                                    productDispatch.cratesIn
                                            }}
                                        </td>
                                    </tr>
                                    <tr class="p-rowgroup-footer">
                                        <td style="text-align: right">
                                            Dispatch Date:
                                        </td>
                                        <td>
                                            {{
                                                productDispatch.dispatchDate
                                                    | date : "yyyy/MM/dd"
                                            }}
                                        </td>

                                        <td style="text-align: right">
                                            Return Date:
                                        </td>
                                        <td>
                                            <span
                                                [ngClass]="{
                                                    overdue:
                                                        productDispatch.daysTaken >
                                                        1,
                                                    notover:
                                                        productDispatch.daysTaken <
                                                        1,
                                                    almost:
                                                        productDispatch.daysTaken ==
                                                        1
                                                }"
                                            >
                                                {{
                                                    productDispatch.returnedDate
                                                        | date : "yyyy/MM/dd"
                                                }}</span
                                            >
                                        </td>

                                        <td style="text-align: right">
                                            Days taken:
                                        </td>
                                        <td>
                                            <span
                                                [ngClass]="{
                                                    overdue:
                                                        productDispatch.daysTaken >
                                                        1,
                                                    notover:
                                                        productDispatch.daysTaken <
                                                        1,
                                                    almost:
                                                        productDispatch.daysTaken ==
                                                        1
                                                }"
                                            >
                                                {{
                                                    productDispatch.daysTaken
                                                }}</span
                                            >
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="productDispatchDialog"
            header="Dispatch Return"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="productDispatchCode"
                        >Product Dispatch Code</label
                    >
                    <p-dropdown
                        [options]="dispatchedProducts"
                        [(ngModel)]="selectedReturnedProduct"
                        [filter]="true"
                        filterBy="productDispatchCode"
                        filterMatchMode="contains"
                        filterPlaceholder="Search"
                        (ngModelChange)="dispatchedProductChange($event)"
                        optionLabel="productDispatchCode"
                        placeholder="Enter Dispatch Code"
                    >
                    </p-dropdown>
                </div>

                <div
                    class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-4"
                >
                    <span class="block mt-2 md:mt-0">
                        Supplier:
                        <span style="color: blue">{{
                            selectedReturnedProduct.supplier.name
                        }}</span>
                    </span>
                    <span class="block mt-2 md:mt-0">
                        Crates Out:
                        <span style="color: blue">{{
                            selectedReturnedProduct.cratesOut
                        }}</span>
                    </span>
                    <span class="block mt-2 md:mt-0">
                        Vehicle:
                        <span style="color: blue">{{
                            selectedReturnedProduct.vehicle
                        }}</span>
                    </span>
                    <span class="block mt-2 md:mt-0">
                        Fuel Issued:
                        <span style="color: blue"
                            >{{
                                selectedReturnedProduct.fuelIssued
                            }}Litres</span
                        >
                    </span>
                    <span class="block mt-2 md:mt-0">
                        Expected Sales:
                        <span style="color: blue"
                            >KSh.
                            {{
                                selectedReturnedProduct.totalDispatchPrice
                            }}</span
                        >
                    </span>
                </div>
                <div class="field">
                    <label for="clients">Select Clients </label>
                    <p-multiSelect [options]="clients" [(ngModel)]="selectedClients" optionLabel="name"></p-multiSelect>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Next"
                    icon="pi pi-caret-right"
                    class="p-button-text"
                    (click)="proceedToClients()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="productDispatchDialog1"
            header="Clients Deliveries"
            [modal]="true"
            class="p-fluid"
        >

        <ng-template pTemplate="content">
            <div *ngFor="let client of selectedClients">
                <h3>{{ client.name }}</h3> <!-- Display the client's name -->
        
                <p-table
                    #dt
                    [value]="client.dispatchedProducts"
                    [columns]="cols"
                    responsiveLayout="scroll"
                    [rows]="10"
                    [paginator]="true"
                    [rowsPerPageOptions]="[10, 20, 30]"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [(selection)]="selectedDispatchedProducts"
                    selectionMode="multiple"
                    [rowHover]="true"
                >
        
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            #
                        </th>
                        <th>Product</th>
                        <th>Stock Left With</th>
                        <th>Delivered Quantity</th>
                        <th>Price</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-rowIndex="rowIndex"
                >
                    <tr>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td style="width: 15%; min-width: 10rem">
                            <span class="p-column-title">Product</span>
                            {{ product.name }}
                        </td>
                        <td style="width: 15%; min-width: 10rem">
                            <span class="p-column-title">Stock Left With</span>
                            {{ product.quantity }}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        type="number"
                                        [(ngModel)]="
                                            product.deliveredQuantity
                                        "
                                        (ngModelChange)="
                                            calculateDeliveryPrice(product)
                                        "
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.deliveredQuantity }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="width: 15%; min-width: 10rem">
                            <span class="p-column-title">Delivery Price</span>
                            KSh. {{ product.deliveredProductPrice }}
                        </td>
                    </tr>
                </ng-template>
                </p-table>
            </div>
        </ng-template>
        
        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Back"
                icon="pi pi-caret-left"
                class="p-button-text"
                (click)="backToDialog1()"
            ></button>
            <button
                pButton
                pRipple
                label="Save"
                icon="pi pi-check"
                class="p-button-text"
                (click)="saveDispatchToClients()"
            ></button>
        </ng-template>
        
        </p-dialog>

        <p-dialog
            [(visible)]="productDispatchDialog2"
            header="Dispatch Return"
            [modal]="true"
            class="p-fluid"
        >

            <ng-template pTemplate="content">
                <p-table
                    #dt
                    [value]="selectedReturnedProduct.dispatchedProducts"
                    [columns]="cols"
                    responsiveLayout="scroll"
                    [rows]="10"
                    [paginator]="true"
                    [rowsPerPageOptions]="[10, 20, 30]"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [(selection)]="selectedDispatchedProducts"
                    selectionMode="multiple"
                    [rowHover]="true"
                >
                    <ng-template pTemplate="caption">
                        <div
                            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-4"
                        >
                            <span class="block mt-2 md:mt-0">
                                Supplier:
                                <span style="color: blue">{{
                                    selectedReturnedProduct.supplier.name
                                }}</span>
                            </span>
                            <span class="block mt-2 md:mt-0">
                                Crates Out:
                                <span style="color: blue">{{
                                    selectedReturnedProduct.cratesOut
                                }}</span>
                            </span>
                            <span class="block mt-2 md:mt-0">
                                Vehicle:
                                <span style="color: blue">{{
                                    selectedReturnedProduct.vehicle
                                }}</span>
                            </span>
                            <span class="block mt-2 md:mt-0">
                                Fuel Issued:
                                <span style="color: blue"
                                    >{{
                                        selectedReturnedProduct.fuelIssued
                                    }}Litres</span
                                >
                            </span>
                            <span class="block mt-2 md:mt-0">
                                Expected Sales:
                                <span style="color: blue"
                                    >KSh.
                                    {{
                                        selectedReturnedProduct.totalDispatchPrice
                                    }}</span
                                >
                            </span>
                        </div>
                        <div
                            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                        >
                            <span class="block mt-2 md:mt-0 mr-2">
                                <p-dropdown
                                    [options]="paymentModes"
                                    [(ngModel)]="paymentMode"
                                    inputId="paymentMode"
                                    optionLabel="label"
                                    placeholder="Select Payment Mode"
                                >
                                </p-dropdown>
                            </span>
                            <span class="block mt-2 md:mt-0 mr-2">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"
                                            >CRATES</span
                                        >
                                <input
                                    pInputText
                                    type="text"
                                    placeholder="Crates In"
                                    [(ngModel)]="cratesIn"
                                    class="w-full sm:w-auto"
                                />
                                </div>
                            </span>
                            <span class="block mt-2 md:mt-0 mr-2">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">Amount: Ksh</span>
                                    <input
                                        type="text"
                                        [(ngModel)]="amount"
                                        (ngModelChange)="calculateBalance()"
                                        placeholder="Amount"
                                    />
                                </div>
                            </span>
                            
                            <span class="block mt-2 md:mt-0">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">Balance: Ksh</span>
                                    <input
                                        type="text"
                                        [(ngModel)]="balance"
                                        placeholder="Balance"
                                        disabled="true"
                                    />
                                </div>
                            </span>

                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Returned Well</th>
                            <th>Returned Spoiled</th>
                            <th>Sold Quantity</th>
                            <th>Sales Price</th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-product
                        let-rowIndex="rowIndex"
                    >
                        <tr>
                            <td>
                                {{ rowIndex + 1 }}
                            </td>
                            
                            <td style="width: 15%; min-width: 10rem">
                                <span class="p-column-title">Product</span>
                                {{ product.name }}
                            </td>
                            <td style="width: 15%; min-width: 10rem">
                                <span class="p-column-title">Quantity</span>
                                {{ product.quantity }}
                            </td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input
                                            pInputText
                                            type="number"
                                            [(ngModel)]="
                                                product.returnedQuantity
                                            "
                                            (ngModelChange)="
                                                calculatePrice(product)
                                            "
                                        />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ product.returnedQuantity }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input
                                            pInputText
                                            type="number"
                                            [(ngModel)]="
                                                product.returnedSpoiled
                                            "
                                            (ngModelChange)="
                                                calculatePrice(product)
                                            "
                                        />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ product.returnedSpoiled }}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="width: 15%; min-width: 10rem">
                                <span class="p-column-title"
                                    >Sold Quantity</span
                                >
                                {{ product.soldQuantity }}
                            </td>
                            <td style="width: 15%; min-width: 10rem">
                                <span class="p-column-title">Sales Price</span>
                                KSh. {{ product.salesPrice }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr class="p-rowgroup-footer">
                            <td colspan="6" style="text-align: right">
                                Total Sales Price
                            </td>
                            <td>KSh. {{ total }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel Dispatch Return"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog2()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProductDispatchReturn()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
