

<style>

    body {

      font-family: Arial, sans-serif;

      text-align: center;

    }

    .verification-container {

      margin-top: 50px;

    }

    .email-icon {

      font-size: 64px;

    }

    .instruction-text {

      font-size: 18px;

      margin-top: 20px;

    }

    .gmail-link {

      display: block;

      font-size: 20px;

      margin-top: 30px;

      text-decoration: none;

      color: #0077FF;

    }

    .gmail-link:hover {

      text-decoration: underline;

    }

  </style>


<body>

  <div class="verification-container">

    <div class="email-icon">&#9993;</div>

    <div class="instruction-text">

      Your resetting link has been sent to your email! Please check your email for the link.

    </div>

    <a class="gmail-link" href="https://www.gmail.com" target="_blank">Take me to Gmail</a>

  </div>

</body>


